@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/jetbrains-mono-latin-400-normal.woff2") format("woff2"), url("fonts/jetbrains-mono-latin-400-normal.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/jetbrains-mono-latin-700-normal.woff2") format("woff2"), url("fonts/jetbrains-mono-latin-700-normal.woff") format("woff");
}

body {
  font-family: JetBrains Mono, monospace;
  font-size: 1.2rem;
}

button,
input[type="submit"] {
  font-family: JetBrains Mono, monospace;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}

.avatar {
  width: 3vh;
  height: 3vh;

  border-radius: 50%;
}

#history > li:nth-child(1) {
  margin: 2vh 0;
}

#history > li {
  margin: 4vh 0;
}

.bottom {
  display: flex;
  align-items: end;
}

ul li {
  margin-bottom: 0.5rem;
}
